body{
    background-color: white;
}
.header {
    border: black solid;
    border-width: 3px;
    height: 20vh;
    padding: 10px;
}
#purple-rectangle {
     height: 8em;
  width: 3em;
  background-color: rgb(112, 41, 179);
  display: inline-block;
  margin-top: 30px;
}
#green-rectangle {
     height: 10em;
  width: 25em;
  background-color: rgb(17, 141, 27);
  display: inline-block;
  margin-left: 10em;
}
#blue-circle{
     height: 10em;
  width: 10em;
  background-color: rgb(120, 173, 209);
  display: inline-block;
  margin-left: 30px;
  border-radius: 100%;
}
.main {
    margin-top: 20px;
    border: black dotted;
    border-width: 3px;
    height: 25vh;
    padding: 20px;
}
#sticky-note {
    height: 10em;
    width: 110vh;
    background-color: rgb(228, 243, 24);
    margin: 20px auto;
    box-shadow: 10px 10px 5px rgb(0, 0, 0);
}
.footer {
    height: 20em;
  width: 25em;
  background-color: rgb(239, 247, 239);
  margin: auto;
  margin-top: 30px;
}
#text {
    text-align: center;
    padding-top: 125px;
    color: rgb(46, 46, 148);
    letter-spacing: 2px;
}